body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    align-items: center;
}

.wrap{
    display: inline-table;
    align-items: center;
    text-align: center;
    max-width: 1920px;
    width: 100%;
}

/* header{
    display: inline-flex;
    vertical-align: middle;
    /*width: 600px;
    height: 60px;*/
    /*align-items: center;
    /* justify-content: space-between;
    margin:  0 auto;
} */

h1 {
    margin: 21.44px 0;
}

.logo-img{
    display: inline-block;
    /* position: relative; */
    text-align: center;
    width: 15%;
    max-width: 90px;
    align-items: center;
    margin-top: 4px;
    /* position: absolute; */
    /* top: 2px; */
    /* left: 50%; */
}

/* .plus{
    height: 55px;
    position: relative;
    float: right;
    margin-top: 5px;
} */

h2{
    font-size: 2.5rem;
    font-weight: 900;
}

.mainImg{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.container{
    /* padding-top: 80px; */
    margin-top: 30px;
    text-align: center;
}

h3{
    font-size: 1.2rem;
}

.tea_name{
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.teaImg {
    border-radius: 15px;
    border: 3px solid #e0e0e0;
}

.details{
    font-size: 0.9rem;
}

.text{
    margin-top: 30px;
    line-height: 30px;
}

.recommand{
    margin-top: 100px;
}

.btn_section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-flex;
    margin-top: 10px;
    max-width: 500px;
    width: 70%;
    height: 50px;
    background: #000;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
    border-radius: 30px;
}

.btn:hover{
    background: #ff4949;
    text-decoration: none;
}


.back_btn{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* .btn2{
    display: inline-flex;
    margin-top: 40px;
    margin-left: 10px;
    width: 130px;
    height: 40px;
    background: #ff4949;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.btn2:hover{
    background: #d52e2e
} */