*{
    background-color: #ff4949;
    /* font-size: 1.2rem; */
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap{
    align-items: center;
    text-align: center;
    max-width: 1920px;
    /* background-color: #ff4949; */
}

/* header{
    display: inline-flex;
    vertical-align: middle;
    /*width: 600px;
    height: 60px;*/
    /*align-items: center;
    /* justify-content: space-between;
    margin:  0 auto;
} */

.logo-img{
    display: inline-block;
    /* position: relative; */
    text-align: center;
    width: 15%;
    max-width: 90px;
    align-items: center;
    margin-top: 4px;
    /* position: absolute; */
    /* top: 2px; */
    /* left: 50%; */
}

/* .plus{
    height: 55px;
    position: relative;
    float: right;
    margin-top: 5px;
} */




/****** 시작 ******/


.btn_section{
    margin-top: 30px;
}

.btn{
    display: inline-flex;
    margin-top: 10px;
    max-width: 500px;
    width: 70%;
    height: 70px;
    background: #ff4949;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
    border-radius: 30px;
}

.btn:hover{
    background: #ffffff;
    color: #ff4949;
    font-size: 2rem;
    font-weight: 800;
}


.back_btn{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}

.title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 50px 0 0 0;
    margin: 0;
}

.sub{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 26.06px;
}