.wrap{
    align-items: center;
    text-align: center;
    max-width: 1920px;
}

/* header{
    display: inline-flex;
    vertical-align: middle;
    /*width: 600px;
    height: 60px;*/
    /*align-items: center;
    /* justify-content: space-between;
    margin:  0 auto;
} */

.logo-img{
    display: inline-block;
    /* position: relative; */
    text-align: center;
    width: 80px;
    align-items: center;
    margin-top: 4px;
    /* position: absolute; */
    /* top: 2px; */
    /* left: 50%; */
}

/* .plus{
    height: 55px;
    position: relative;
    float: right;
    margin-top: 5px;
} */

/* 
.questionbox{
    width: 800px;
} */

.question{
    font-size: 1.1rem;
    font-weight: 500;
}
.answer{
    text-align: center;
}

.btn{
    margin-top: 10px;
    width: 400px;
    height: 70px;
    color: #ffffff;
    background-color: #ff4949;
    border: solid 2px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}